<%
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	isAltView,
	href
} = cfg
%>

<%
const classes = `logo ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<a
	class="<%= classes %>"
	href="<%= href %>"
	<%- attrs %>
>
	<% if (isAltView) { %>
	<img class="logo__foot-img" src="./images/logoFooter.svg" alt="logo">
	<% } else { %>
		<img class="logo__img" src="./images/logo.svg" alt="logo">
	<% } %>
</a>
