<section class="hero" id="hero">

	<div class="hero__container">
		<div class="hero__container-pages">
			<div class="hero__container-image">
				<img src="./images/hero.png" alt="">
			</div>
			<div class="hero__container-content">
				<h1 class="hero__container-title">Проект<br>«Люди — природе»</h1>
				<p class="hero__container-description">Проект «Люди — природе» стартовал весной 2019 года при поддержке Европейского Союза в России и направлен на вовлечение общественности в охрану окружающей среды в Кавказском, Алтае-Саянском и Амурском экорегионах.</p>
				<%- require("../components/button/template.ejs")({
					icon: "arrow-right",
					label: "В КАТАЛОГ"
				})%>
			</div>
		</div>


	</div>

</section>
